*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container{
    width: 500px;
      height: 200px;
      position: relative;
    }

video {
        width: 50%;
        height: 50%;
        object-fit: cover;
      }

      